################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FraudDetection/bin/Debug/net8.0
/FraudDetection/obj
